@import './_mixins.scss';

.list-images {
    @include tablet() {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    @include mobile() {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

.loading {
    @include tablet() {
        margin-left: 100%;
    }
    @include mobile() {
        margin-left: 35%;
    }
}